<!DOCTYPE html>
<html>
<head>
<title>CSP Demonstrator{% block pageTitle %}{% endblock %}</title>
</head>
<body>
<a href="/">Home</a>&nbsp;|&nbsp;<a href="/set-csp">CSP-Setter</a>
<hr />
{% block body %}{% endblock %}
</body>
</html>