{% extends "_base.njk" %}

{% block body %}
Hello CSP Demonstrator! Use the options below to test injection payloads:
<ol>
  <li>Reflected: 
  <form method="POST" action="/">
    <input type="text" name="unsafeReflection" value="" /><button type="submit">Exploit</button>
  </form>
  </li>
  <li>DOM-based ('self' must be whitelisted as a script-src)
    <input type="text" name="unsafeDom" value="" /><button id="exploitUnsafeDom">Exploit</button>
  </li>
</ol>
<div id="payload">
{{ payload | safe }}
</div>
<script src="/main.js"></script>
{% endblock %}