{% extends "_base.njk" %}

{% block body %}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello CSP Demonstrator!
      </h1>
      <h2 class="subtitle">
        Use the options below to test injection payloads. Note that your CSP can affect the JS and CSS on this page.
      </h2>
     </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <form method="POST" action="/">
      <label class="label">Reflected</label>
      <div class="field has-addons">
        <div class="control"><input class="input is-danger" type="text" name="unsafeReflection" value="" /></div>
        <div class="control"><button class="button is-danger" type="submit">Exploit</button></div>
      </div>
    </form>
  </div>
</section>
<section class="section">
  <div class="container">
    <label class="label">DOM-based</label>
    <label class="label is-small">'self' must be whitelisted as a script-src</label>
    <div class="field has-addons">
      <div class="control"><input class="input is-danger" type="text" name="unsafeDom" value="" /></div>
      <div class="control"><button class="button is-danger" id="exploitUnsafeDom">Exploit</button></div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-warn">
  <label class="label">Payload output is here:</label>
    <div id="payload">
    {{ payload | safe }}
    </div>
  </div>
</section>
<script src="/main.js"></script>
{% endblock %}