{% extends "exercises/_ex.njk" %}

{% block scenario %}
Describe the scenario
{% endblock %}

{% block goal %}
Indicate the success condition
{% endblock %}

{% block solution %}
This is the solution
{% endblock %}

{% block sampleFunction %}
  <script>
    function sendSampleRequest(targetUrl) {
        // write this for a custom request. Delete the whole block if you just want a fetch to the /ex/:num endpoint.
    }
  </script>
{% endblock %}